<div class="empty-space"></div>
<div class="empty-space"></div>
<h1 class="user-h1"><%= @user.name %>'s  Posts</h1>
<% @user.posts.each do |post| %>
  <h3> <%= post.title %></h3>
  <p> <%= post.content %> </p>
<% end %>

<h3>or Create post </h3>
<form method="POST" action="/posts/create/<%= @user.id %>">
 <div>
   <label for="title"> Title</label>
   <input type="text" name="title">
  </div>
  <div>
   <label for="content"> Post Content</label>
   <textarea name="content"> </textarea>
  </div>
  <input type="submit" value="submit">
</form>

<h3> Search for user </h3>
<form method="POST" action="/posts/create/<%= @user.id %>">
 <div>
   <label for="title"> Title</label>
   <input type="text" name="title">
  </div>
  <input type="submit" value="submit">
</form>

<h3>or Remove me </h3>
<form method="POST" action="/users/<%= @user.id %>/delete">
  <input type="submit" value="I want to be freed from your silly app">
</form>